@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Shared Styles */
.display-flex{
    display: flex;
}

.drack-1{
    color: #131313;
}
.drack-3{
    color: #727272;
}
.text-gray{
    color: #424242;
}
.primary-color{
    color: #FF900E;
}

.bg-lite{
    background-color: rgba(223, 123, 8, 0.1)
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.heading-title{
    font-size: 2.8rem;
    font-weight: 700;
}
nav a{
    text-decoration: none;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 130px;
}


/* Main style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    font-size: 18px;
    line-height: 28px;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    
}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}
.facts-description{
    max-width: 542px;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}
#quick-list{
    font-weight: 500;
}
/* Love section start */
.features{
    color: #FF900E;
}
.love{
    gap: 146px;
}
.love-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}
.love-card .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color : #131313;
    margin-bottom: 10px;
    margin-top: 0px;
}
.love-heading{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.love-img img{
    width: 100%;
}
.btn-10year{
    font-size: 4.06rem;
    font-weight: 700;
    line-height: 70px;
    

}
.experience{
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 40px;

}
.btn-10year{
    margin-top: -92px;
    margin-left: -77px;
}
/* fact related style */
.fact-description{
    max-width: 542px;
    margin-bottom: 50px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    display: flex;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-logo{}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    margin-top: 10px;

}

/* sponsor */

.sonsor-info{
    text-align: center;
    margin: 50px auto;
}
.sponsor-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companys img{
    filter: grayscale(100%);
}
.footer-container{
    max-width: 1440px;
    margin: 130px auto 216px;
    background-color: #FFF4E7;
    text-align: center;

}
.footer-container p{
    padding: 39px 0px 39px 0px;
    font-size: 20px;
}
/* responsive media query */
@media screen and (max-width:576px) {
    .nav-bar,
    .nav-links,
    .teams,
    .love{
        flex-direction: column;
    }
    .teams-img-container, 
    .facts-container, 
    .sponsor-companys
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-10year{
        margin-top: 10px;
        margin-left: 10px;
    }




    
    .facts-container, .sponsor-companys{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companys{
        gap: 40px;
    }
    .our-features{
        margin-left: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companys, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}


